.font-display1-user{ font-size:56px; font-weight: 300;} 
.font-display2-user{ font-size:40px; font-weight: 300;}
.font-display4-user{ font-size:10px; font-weight: 300;}
.font-headline-user{ font-size:24px; }
.font-title-user{ font-size:22px; }
.font-subheading-user{ font-size:18px; font-weight: 600;}
.font-subheading2-user{ font-size:18px; }
.font-subheading3-user{ font-size:18px; font-weight: 300;}
.font-menu-user{ font-size:16px; }
.font-menu2-user{ font-size:16px; font-weight: 600;}
.font-breadcrumb-user{ font-size:14px; font-weight: 600;}
.font-error-msg-user{ font-size:14px; color: #FF0000; }
.font-field-label-regular-user{ font-size:14px;}
.font-field-label-user{ font-size:12px; font-weight: 600;}
.font-placeholder-user{ font-size:16px; }
.font-button-user{ font-size:16px; font-weight: 600; text-transform: uppercase;}
.font-body-text1-large-user{ font-size:16px; }
.font-body-text2-large-user{ font-size:16px; font-weight: 600;}
.font-body-text1-user{ font-size:14px; }
.font-body-text2-user{ font-size:14px; font-weight: 300;}
.font-body-text3-user{ font-size:14px; font-weight: 600;}
.font-body-text4-user{ font-size:20px; font-weight: 600;}
.font-breadcrumb-text1-user{ font-size:12px;}
.font-list-user{ font-size:14px; font-weight: 600;}

.font-600 { font-weight: 600; }