<div class="photo-area-main">
  <div>
    <button class="btn btn-transparent-rounded-color" (click)="resetAll();">START OVER</button>
  </div>
  <div class="clearfix seperator"></div>
  <div>
      <label for="file-upload-main" class="custom-file-upload btn-transparent-rounded-color">
          UPLOAD IMAGE
      </label>
      <input id="file-upload-main"
             multiple="false"  
             accept=".jpg,.png,.PNG,.JPG"
             type="file" 
             (change)="onImageSelect($event)"/>
  </div>
  <div>
    <app-image-holder [image]="selectedFile" [testdata]="testdatatochild" (childtoparent)="onchildtoparent($event)"></app-image-holder>
  </div>
</div>

  
  