@import "~themes/scss/style.scss";

.sticker-images
{
    div
    {
        margin-bottom: 20px;
    }
    ul
    {
        list-style-type: none;
        padding-left: 15px;
    }
    img
    {
        width:50px;
    }
}